<img src="images/DBG1.jpg">
Photo credit: Caitlin Buck

# Preparation of saguaro data for mortality analysis

### Import Saguaro Inventory dataset  obtained from Desert Botanical Garden
* Download requested from https://livingcollections.org/dbg/Home.aspx on 10/18/20
* Full history of inventory and measurement data for all saguaros alive and dead.csv

### Clean up and reformat data
* Drop columns not required for analysis.
* Parse year from Inventory Date column for use in subsequent clean-up.
* Select inventories where saguaros were marked as dead ("forever dormant").
* Find saguaros that had more than one inventory in a given year, and remove the extra inventories.
* Remove inventories reported prior to timespans of interest.
* Exclude saguaro deaths unrelated to weather analysis.

### Derive data needed for subsequent analysis
* Count the number of saguaros that died in each year.
* Group inventories into the two timespans of interest.
* Count the number of saguaros that died in each timespan.

### Export datasets to csv
* Mortality_per_year_ready_for_analysis.csv
* Mortality_per_timespan_ready_for_analysis.csv

<img src="images/Dirty data.png">

### Import dependencies, read in dataset and store in pandas DataFrame.

In [59]:
# Import dependencies
import pandas as pd
import numpy as py

In [60]:
# Read in saguaro dataset with cp1252 character encoding and store in pandas DataFrame called full_df.
full_data = "../Original datafiles/Full history of inventory and measurement data for all saguaros alive and dead.csv"
full_df = pd.read_csv(full_data, encoding='cp1252')

full_df

,Accession Planting,Inventory Date,Status,Condition,Measurement Date,Height,Height Unit,DBH,DBH Unit,Measurement Note
0,2020-0589-10-0,9/17/2020 0:00,Dormant,Good,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-0589-10-0,9/18/2020 17:27,Dormant,Good,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-0588-10-0,9/17/2020 0:00,Dormant,Good,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-0588-10-0,9/18/2020 17:27,Dormant,Good,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-0587-10-0,9/17/2020 0:00,Dormant,Good,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13850,1947-1548-01-1,6/17/2009 0:00,Alive,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13851,1947-1548-01-1,7/9/2012 0:00,Alive,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13852,1947-1548-01-1,11/28/2012 12:16,Alive,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13853,1947-1548-01-1,12/17/2012 0:00,Dead,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13854,1947-1548-01-1,1/31/2013 0:00,Dead,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Drop columns not required for analysis.

In [67]:
# From full_df, drop columns not needed for mortality analysis, leaving only the inventory event columns.
# Save the remaining (inventory) columns as new DataFrame called inventory_df.
inventory_df = full_df.drop(["Condition", "Measurement Date", "Height", "Height Unit", "DBH", "DBH Unit", "Measurement Note"], axis = 1)

inventory_df

      Accession Planting    Inventory Date   Status
0         2020-0589-10-0    9/17/2020 0:00  Dormant
1         2020-0589-10-0   9/18/2020 17:27  Dormant
2         2020-0588-10-0    9/17/2020 0:00  Dormant
3         2020-0588-10-0   9/18/2020 17:27  Dormant
4         2020-0587-10-0    9/17/2020 0:00  Dormant
...                  ...               ...      ...
13850     1947-1548-01-1    6/17/2009 0:00    Alive
13851     1947-1548-01-1     7/9/2012 0:00    Alive
13852     1947-1548-01-1  11/28/2012 12:16    Alive
13853     1947-1548-01-1   12/17/2012 0:00     Dead
13854     1947-1548-01-1    1/31/2013 0:00     Dead

[13855 rows x 3 columns]

### Parse year from Inventory Date column for use in subsequent clean-up.

In [68]:
# Extract year from Inventory Date column and store in new column called Inventory Year. Drop Inventory Date column as
# it's no longer needed.
inventory_year = inventory_df["Inventory Date"].str.extract(r'(20\d\d)')
inventory_df["Inventory Year"] = inventory_year
inventory_drop_df = inventory_df.drop(["Inventory Date"], axis = 1)

inventory_drop_df

      Accession Planting   Status Inventory Year
0         2020-0589-10-0  Dormant           2020
1         2020-0589-10-0  Dormant           2020
2         2020-0588-10-0  Dormant           2020
3         2020-0588-10-0  Dormant           2020
4         2020-0587-10-0  Dormant           2020
...                  ...      ...            ...
13850     1947-1548-01-1    Alive           2009
13851     1947-1548-01-1    Alive           2012
13852     1947-1548-01-1    Alive           2012
13853     1947-1548-01-1     Dead           2012
13854     1947-1548-01-1     Dead           2013

[13855 rows x 3 columns]

### Select inventories where saguaros were marked as dead ("forever dormant").

In [69]:
# From inventory_df, select inventories where a saguaro was marked as dead ("forever dormant)".
# Save the selection as new DataFrame called forever_dormant_df.
forever_dormant_df = inventory_drop_df.loc[full_df["Status"] == "Dead"]

forever_dormant_df

      Accession Planting Status Inventory Year
73       2019-0188-01-12   Dead           2019
80        2019-0142-01-2   Dead           2020
403       2018-0026-01-5   Dead           2019
740       2016-0042-01-4   Dead           2018
741       2016-0042-01-4   Dead           2018
...                  ...    ...            ...
13830     1966-8295-01-2   Dead           2016
13847     1949-2064-01-1   Dead            NaN
13848     1947-1600-01-1   Dead            NaN
13853     1947-1548-01-1   Dead           2012
13854     1947-1548-01-1   Dead           2013

[323 rows x 3 columns]

### Find saguaros that had more than one inventory in a given year, and remove the extra inventories.

In [72]:
# View DataFrame row count before removing duplicate inventories
rows_before = len(forever_dormant_df)

print(f"Before removing duplicates, there are {rows_before} saguaro loss inventories present.")

Before removing duplicates, there are 323 saguaro loss inventories present.

In [74]:
# Sort DataFrame by year so earliest inventory will be kept when duplicates are dropped
sorted_df = forever_dormant_df.sort_values(by = "Inventory Year")

# Remove duplicate accessions (but keep first duplicate)
unique_df = sorted_df.drop_duplicates(subset="Accession Planting", keep="first", inplace = False)

# View DataFrame row count after removing duplicates
rows_after = len(unique_df)
duplicates_removed = rows_before - rows_after

print(f"After removing {duplicates_removed} duplicates, there are {len(unique_df)} inventories kept for analysis.")

After removing 48 duplicates, there are 275 inventories kept for analysis.

### Remove inventories reported prior to timespans of interest.

In [76]:
# Remove inventories prior to 2013; keep 2013 and on.
# used in next step.
twentythirteen_and_on_df = unique_df.loc[pd.to_numeric(unique_df["Inventory Year"]) >= 2014]

rows_before = len(unique_df)
rows_after = len(twentythirteen_and_on_df)
rows_removed = rows_before - rows_after

print(f"After removing {rows_removed} duplicates, there are {rows_after} inventories kept for analysis.")

After removing 118 duplicates, there are 157 inventories kept for analysis.

In [79]:
# View current DataFrame
twentythirteen_and_on_df

      Accession Planting Status Inventory Year
1171      2014-0302-01-1   Dead           2014
6614      2012-0254-01-9   Dead           2014
8376     2012-0065-01-50   Dead           2014
8934      2008-0149-01-1   Dead           2014
11182     1987-0156-01-7   Dead           2014
...                  ...    ...            ...
12145    1985-0254-01-24   Dead           2020
8845     2012-0065-01-14   Dead           2020
10885     1990-0214-01-6   Dead           2020
3422     2012-0315-01-36   Dead           2020
8433     2012-0065-01-46   Dead           2020

[157 rows x 3 columns]

### Exclude saguaro deaths unrelated to weather analysis

#### Many saguaros were inventoried as dead for reasons unrelated to weather:
* Saguaros that died in the propagation facilities
* Saguaros that were inventoried as dead many years after the event of their death
* Saguaro IDs that were deactivated because they were never assigned to an actual plant
* Saguaro IDs that were mis-recorded as Dead at some point in the past, but have been corrected to Alive. E.g., a juvenile saguaro that was well-hidden under a shrub one year.

#### A list of inventories unrelated to the weather analysis was obtained from a project member familiar with the inventory protocol. The list is imported, joined to the DataFrame, and used to select inventories appropriate for the weather analysis. The list is exported to csv for subsequent analysis.

In [82]:
# Import exclusion list and merge it with twentythirteen_and_on_df using a left join to retain all values in 
# twentythirteen_and_on_df.
exclude_df = pd.read_csv("../Original datafiles/Saguaros to exclude.csv", encoding = "cp1252")
merged_df = pd.merge(twentythirteen_and_on_df, exclude_df, on = "Accession Planting", how = "left")

merged_df

    Accession Planting Status Inventory Year  Exclude
0       2014-0302-01-1   Dead           2014      NaN
1       2012-0254-01-9   Dead           2014      NaN
2      2012-0065-01-50   Dead           2014      NaN
3       2008-0149-01-1   Dead           2014      NaN
4       1987-0156-01-7   Dead           2014      NaN
..                 ...    ...            ...      ...
152    1985-0254-01-24   Dead           2020      NaN
153    2012-0065-01-14   Dead           2020  exclude
154     1990-0214-01-6   Dead           2020      NaN
155    2012-0315-01-36   Dead           2020      NaN
156    2012-0065-01-46   Dead           2020      NaN

[157 rows x 4 columns]

In [83]:
# Get row count before dropping rows.
rows_before = len(merged_df)

# Select the rows that do not require exclusion and store result to a new DataFrame called include_df.
include_df = merged_df.loc[merged_df["Exclude"].isnull()]

# Drop recently merged columns as they are no longer needed.
drop_df = include_df.drop(["Exclude"], axis = 1)

# Review effect of dropping rows.
rows_after = len(drop_df)
rows_removed = rows_before - rows_after
print(f"After removing {rows_removed} saguaro losses not related to weather, there are {rows_after} inventories kept for weather analysis.")

# Export to csv to check.
#drop_df.to_csv("../Data ready for analyses/drop_df.csv", encoding = 'utf-8')

After removing 61 saguaro losses not related to weather, there are 96 inventories kept for weather analysis.

### Count the number of saguaros that died in each year and export to csv for subsequent analysis

In [84]:
# Aggregate saguaro mortality to counts for each year of interest.
mortality_per_year_agg = drop_df.groupby(["Inventory Year"])["Accession Planting"].agg("count").reset_index()

# Convert aggregation object to DataFrame.
mortality_per_year_df = pd.DataFrame(mortality_per_year_agg)

mortality_per_year_df

  Inventory Year  Accession Planting
0           2014                   5
1           2015                  20
2           2016                   8
3           2017                  19
4           2018                  13
5           2019                  17
6           2020                  14

In [85]:
# Rename columns to represent the data they now contain.
mortality_per_year_df.rename(columns = {"Inventory Year": "Year", "Accession Planting": "Mortality Count"}, inplace = True)

# Export to csv.
mortality_per_year_df.to_csv("../Data ready for analyses/Mortality_per_year_ready_for_analysis.csv", encoding = 'utf-8')

mortality_per_year_df

   Year  Mortality Count
0  2014                5
1  2015               20
2  2016                8
3  2017               19
4  2018               13
5  2019               17
6  2020               14

### Group inventories into the two timespans of interest

In [86]:
# From include_df, select the inventories from each timespan of interest and store in new DataFrames called
# timespan_1_df and timespan_2_df.

# Timespan 1
timespan_1 = ["2013", "2014"]
timespan_1_df = forever_dormant_df[forever_dormant_df["Inventory Year"].isin(timespan_1)]

# Timespan 2
timespan_2 = ["2015", "2016", "2017", "2018", "2019"]
timespan_2_df = forever_dormant_df[forever_dormant_df["Inventory Year"].isin(timespan_2)]

timespan_1_df

      Accession Planting Status Inventory Year
1171      2014-0302-01-1   Dead           2014
1858     2013-0266-01-15   Dead           2013
1859     2013-0266-01-15   Dead           2013
3411     2012-0315-01-37   Dead           2014
4185      2012-0314-01-2   Dead           2013
6481     2012-0280-01-19   Dead           2013
6614      2012-0254-01-9   Dead           2014
6730     2012-0254-01-44   Dead           2013
6731     2012-0254-01-44   Dead           2013
6732     2012-0254-01-44   Dead           2013
6733     2012-0254-01-44   Dead           2013
6882     2012-0254-01-31   Dead           2013
6883     2012-0254-01-31   Dead           2013
6884     2012-0254-01-31   Dead           2013
6885     2012-0254-01-31   Dead           2013
6886     2012-0254-01-31   Dead           2013
7035      2012-0254-01-2   Dead           2013
7085     2012-0254-01-14   Dead           2013
7089     2012-0254-01-13   Dead           2013
7119     2012-0254-01-10   Dead           2013
7124      2012-0254-01-1   Dead           2013
8376     2012-0065-01-50   Dead           2014
8934      2008-0149-01-1   Dead           2014
11182     1987-0156-01-7   Dead           2014
11204     1987-0156-01-5   Dead           2013
13275     1978-0500-01-1   Dead           2013
13400     1977-0387-01-2   Dead           2013
13410     1976-0379-01-9   Dead           2013
13411     1976-0379-01-9   Dead           2013
13710     1976-0235-01-1   Dead           2013
13854     1947-1548-01-1   Dead           2013

### Calculate saguaro mortality rate for each timespan and export to csv for subsequent analysis

In [87]:
# Count up the number of saguaros lost in each timespan and divide by the number of years in each timespan to find
# the mortality rate for each timespan
mortality_rate_timespan_1 = len(timespan_1_df)/len(timespan_1)
mortality_rate_timespan_2 = len(timespan_2_df)/len(timespan_2)

print(f"{mortality_rate_timespan_1} saguaros were lost per year in the years 2013 and 2014.")
print(f"{mortality_rate_timespan_2} saguaros were lost per year in the years 2015, 2016, 2017, 2018, and 2019.")

15.5 saguaros were lost per year in the years 2013 and 2014.
30.6 saguaros were lost per year in the years 2015, 2016, 2017, 2018, and 2019.

In [88]:
# Append timespans and mortality rates to a list and export list to csv for subsequent analysis
mortality_per_timespan_list = []
mortality_per_timespan_list.append({"Timespan": "2013-2015", "Yearly Average Mortality": mortality_rate_timespan_1})
mortality_per_timespan_list.append({"Timespan": "2015-2020", "Yearly Average Mortality": mortality_rate_timespan_2})

# Convert list to DataFrame.
mortality_per_timespan_df = pd.DataFrame(mortality_per_timespan_list)
mortality_per_timespan_df

    Timespan  Yearly Average Mortality
0  2013-2015                      15.5
1  2015-2020                      30.6

In [89]:
# Export list to csv
mortality_per_timespan_df.to_csv("../Data ready for analyses/Mortality_per_timespan_ready_for_analysis.csv", encoding = 'utf-8')

### End of mortality rate data prep