# Saguaro Map

In [39]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
from api_key import api_key as api_key
import gmaps
gmaps.configure(api_key=api_key)

In [40]:
# Import data and store in pandas DataFrame
df = pd.read_csv("../SaguaroProject/Final docs/Data ready for analyses/Saguaro_locations_ready_for_analysis.csv")

df.head()

   ID        Lat        Long
0   1  33.460439 -111.944229
1   2  33.460277 -111.944828
2   3  33.460224 -111.944345
3   4  33.459941 -111.942774
4   5  33.460900 -111.944853

In [41]:
# Convert lat/longs to list of tuples
locations = df[["Lat", "Long"]].astype(float)

locations

            Lat        Long
0     33.460439 -111.944229
1     33.460277 -111.944828
2     33.460224 -111.944345
3     33.459941 -111.942774
4     33.460900 -111.944853
...         ...         ...
1064  33.457232 -111.942867
1065  33.461001 -111.944039
1066  33.460382 -111.946088
1067  33.461954 -111.946868
1068  33.462076 -111.943942

[1069 rows x 2 columns]

In [58]:
# Create map
figure = gmaps.figure(map_type = "SATELLITE", center = (33.4605, -111.945), zoom_level = 17)
layer = gmaps.symbol_layer(locations, fill_color = "yellow", stroke_color = "yellow", scale = 1)
figure.add_layer(layer)
figure

Figure(layout=FigureLayout(height='420px'))